{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}NTSA Dashboard{% endblock %}</title>
  {% block extra_css %}{% endblock %}
  <link rel="stylesheet" href="{% static 'testcenter_mgmt/dashboardstyle.css' %}">
</head>
<body>
  <div class="dashboard-container">
    <div class="header">
      <h1>Welcome to NTSA System</h1>
      <div class="logo-container">
        <img src="{% static 'testcenter_mgmt/images/logo.png' %}" alt="Logo" class="logo" />
      </div>
    </div>

    <main>
      {% block content %}
      {% endblock %}
    </main>
  </div>
</body>
</html>

